<% include ../layouts/game/header.ejs %>

 <!-- Header -->
    <header>


        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">There are 
                <%= indicatorData[0][0].value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> people in this world. And <%=Math.round(indicatorData[1][0].value)%>% are under 14</div>
                <a href="#toddler" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
       
    </header>
    

    <!-- Services Section -->
    <section id="infant">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Infant</h2>
                    <h3 class="section-subheading text-muted">0-2 age group</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Healthcare</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-female fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gender</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="toddler">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Toddler</h2>
                    <h3 class="section-subheading text-muted">2-5 age group</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Healthcare</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-female fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gender</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Toddler</h2>
                    <h3 class="section-subheading text-muted">5-12 age group</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Healthcare</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-female fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gender</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="adolescent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Toddler</h2>
                    <h3 class="section-subheading text-muted">13-18 age group</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Healthcare</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-female fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gender</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="toddler">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Toddler</h2>
                    <h3 class="section-subheading text-muted">0-2 age group</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Healthcare</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-female fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gender</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted"><%=Math.round(indicatorData[1][0].value)%>%Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Portfolio Grid Section -->
    <section id="search" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Search</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                
                    <% include ../game/maprender.ejs %>
                </div>
            </div>    
        </div>
    </section>




<% include ../layouts/game/footer.ejs %>